/* common css start */
* {
	margin: 0;
	padding: 0;
	outline: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul,
ol {
	list-style: none;
}
img {
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Prompt", sans-serif;
	letter-spacing: 0.5px;
}
.common-width {
	width: 1190px !important;
}
:root {
	/* --main-bg: #440a67; */
	--main-bg: #1d002f;
	--sub-bg: #1c2142;
}
#catagory,
#banner,
#about,
#slider {
	background-color: var(--main-bg);
	padding: 120px 0;
}
#pricing,
#compair,
#support {
	background-color: var(--sub-bg);
	padding: 120px 0;
}

.big-title {
	font-family: "Orbitron", sans-serif;
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}
.small-title {
	font-family: "Orbitron", sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}
.section-title {
	font-family: "Orbitron", sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}
.section-text p {
	font-weight: 300;
	font-size: 14px;
	text-align: justify;
	/* color: #b4aee8; */
	color: #9293b5;
}
.section-text-title {
	font-weight: 300;
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
}
/* common css end */

/* menu css start */

#header {
	background-color: var(--main-bg);
	padding: 12px 0;
}
.header-width {
	max-width: 1300px !important;
}
.main-menu > ul > li {
	position: relative;
	float: left;
	text-transform: uppercase;
}
.menu-item a,
.control-panel a {
	color: #fff;
}
.main-menu > ul > li > ul,
.control-panel > ul > li > ul {
	position: absolute;
	visibility: hidden;
	background-color: var(--sub-bg);
	width: max-content;
	color: #a66cff;
	border-radius: 15px;
	opacity: 0;
	transition: 0.8s;
	-webkit-transition: 0.8s;
	transform: translatex(-20%) scaleY(1) !important;
	z-index: 1;
}
.minecraft ul {
	width: 157px !important;
}
.main-menu ul li:hover ul,
.control-panel ul li:hover ul {
	visibility: visible;
	opacity: 1;
}

.sub-menu li:hover,
.sub-control li:hover {
	background-color: #473e80;
	border-radius: 5px;
}

.sub-menu-icon {
	float: left;
	padding: 3px 10px;
}
.menu-arrow {
	color: #fff;
}
.menu li {
	font-size: 14px;
	font-weight: 600;
}
.sub-menu li:not(:last-child),
.sub-control li:not(:last-child) {
	border-bottom: 1px solid #b0b0b080;
}
.sub-menu li,
.sub-control li {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 300;
	padding: 8px 15px;
}
/* menu css end */

/* control css start */
.control-panel {
	background-color: var(--sub-bg);
	border-radius: 20px;
	text-align: center;
	padding: 10px 0 15px;
}
.control-panel-icon {
	font-size: 20px;
	color: #fff;
}
.control-panel-text {
	font-size: 7px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	padding-top: 5px;
}
.control-panel .control-panel-item {
	float: left;
}
.control-panel > ul > li {
	position: relative;
}
.control-panel > ul > li > ul {
	transform: translatex(-40%) scaleY(1) !important;
	top: 62px;
}

.control-panel-item:nth-child(2)::after,
.control-panel-item:nth-child(2)::before {
	background-color: #545454;
	content: "";
	height: 32px;
	position: absolute;
	top: 58%;
	transform: translateY(-50%);
	width: 2px;
}
.control-panel-item:nth-child(2)::before {
	left: 0;
}
.control-panel-item:nth-child(2)::after {
	right: 0;
}
.control-panel-item:nth-child(3)::after {
	background-color: #545454;
	content: "";
	height: 32px;
	position: absolute;
	right: 0;
	top: 58%;
	transform: translateY(-50%);
	width: 2px;
}
/* control css end */

/* catagory css start */
.zoom img {
	border: 4px solid #9c9efe;
	border-radius: 15px;
	margin-bottom: 15px;
	transition: transform 0.5s;
}
.zoom:hover img {
	-ms-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.1);
}
.zoom p {
	text-transform: uppercase;
}
.catagory-item p {
	color: #fff;
	font-weight: 300;
	font-size: 18px;
}
/* catagory css end */

/* footer css start */
#footer {
	background-color: var(--main-bg);
}
.payment {
	border-radius: 8px;
	color: #fff;
}
.payment img {
	height: 35px;
}

.footer-title {
	border-bottom: 1px solid #b0b0b080;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	padding: 5px 0 14px;
	margin-bottom: 20px;
}
.footer-item li {
	padding-bottom: 25px;
	font-size: 14px;
	font-weight: 300;
}
.footer-item li a {
	color: #fff;
}
.footer-social li a {
	font-size: 32px;
	color: #fff;
}
.footer-social li {
	padding-bottom: 10px;
}
.copyright footer {
	font-weight: 200;
	font-size: 14px;
	color: #9293b5;
}
/* footer css end */

/* banner css start */

/* banner css end */

/* card css start */

.card {
	width: "275px";
	background-color: var(--main-bg);
	border-color: #b4aee8;
	color: #ffe3fe;
	text-align: center;
	transition: all 0.3s ease-in-out;
}
.card:hover {
	border-color: #b4aee8;
	box-shadow: 0 0 20px #b4aee8;
	transform: scale(1.08);
	transition: all 0.3s ease-in-out;
}
.card-title {
	font-family: "Orbitron", sans-serif;
	font-size: 18px;
	font-weight: 700;
}
.card-text {
	font-size: 14px;
	font-weight: 300;
	color: #b4aee8;
	padding: 5px 0;
}
.price span {
	font-size: 31px;
	font-weight: 500;
	color: #ffe3fe;
}
.price {
	color: #ffe3fe !important;
	padding-top: 10px;
}
.btn {
	background-color: rgb(72 61 169);
	border: none;
	padding-bottom: 10px;
}
.btn:hover {
	background-color: #93329e;
}
/* card css end */

/* compair css start */
.css-10jyip1-MuiLinearProgress-root {
	height: 25px !important;
}
.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	/* margin: 15px 0; */
	height: 30px;
	/* width: 300px; */
}

.progress-done {
	background: linear-gradient(to left, #f2709c, #ff9472);
	box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
/* compair css end */

/* slider css start */
.screenshot {
	width: 850px;
}
/* slider css end */
/* support css start */
.message {
	font-size: 50px;
	color: #a66cff;
}
/* support css end */
