/* common css start */
* {
	margin: 0;
	padding: 0;
	outline: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul,
ol {
	list-style: none;
}
img {
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Prompt", sans-serif;
	letter-spacing: 0.5px;
}
.common-width {
	width: 1190px !important;
}
:root {
	/* --main-bg: #440a67; */
	--main-bg: #1d002f;
	--sub-bg: #1c2142;
	/* --sub-bg: #0d1129; */
}
#catagory,
#banner,
#about,
#slider,
#info {
	background-color: var(--main-bg);
	padding: 120px 0;
}
#pricing,
#compair,
#support,
#feature {
	background-color: var(--sub-bg);
	padding: 120px 0;
}

.big-title {
	font-family: "Orbitron", sans-serif;
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}
.small-title {
	font-family: "Orbitron", sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}
.section-title {
	font-family: "Orbitron", sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}
.section-text p,
.section-text li {
	font-weight: 300;
	font-size: 14px;
	text-align: justify;
	/* color: #b4aee8; */
	color: #9293b5;
}
.section-text-title {
	font-weight: 300;
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
}
/* common css end */

/* menu css start */
.navbar-expand-lg .navbar-nav .nav-link {
	color: white !important;
	padding-top: 20px;
}
#header {
	background-color: var(--main-bg);
	padding: 12px 0;
}
.header-width {
	max-width: 1300px !important;
}
.main-menu > ul > li,
.control-panel > li {
	position: relative;
	float: left;
	text-transform: uppercase;
}
.menu-item a,
.control-panel a {
	color: #fff;
}

.main-menu > ul > li > ul,
.control-panel > li > ul {
	position: absolute;
	visibility: hidden;
	background-color: var(--sub-bg);
	width: max-content;
	color: #a66cff;
	border-radius: 15px;
	opacity: 0;
	transition: 0.8s;
	-webkit-transition: 0.8s;
	transform: translatex(-20%) scaleY(1) !important;
	z-index: 1;
}
.minecraft ul {
	width: 157px !important;
}
.main-menu ul li:hover ul,
.control-panel li:hover ul {
	visibility: visible;
	opacity: 1;
}

.sub-menu li:hover,
.sub-control li:hover {
	background-color: #473e80;
	border-radius: 5px;
}

.sub-menu-icon {
	float: left;
	padding: 3px 10px;
}
.menu li {
	font-size: 14px;
	font-weight: 600;
}
.sub-menu li:not(:last-child),
.sub-control li:not(:last-child) {
	border-bottom: 1px solid #b0b0b080;
}
.sub-menu li,
.sub-control li {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 300;
	padding: 8px 15px;
}
/* menu css end */

/* control css start */
.control-panel {
	background-color: var(--sub-bg);
	border-radius: 20px;
	text-align: center;
	padding: 10px 10px 15px;
}
.control-panel-item {
	float: left;
	color: #fff;
}
.control-panel-icon {
	font-size: 20px;
}
.control-panel-text {
	font-size: 7px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	padding-top: 5px;
}
.control-panel-item {
	padding: 0 6%;
}
/* .control-panel > li {
	position: relative;
} */
.control-panel > li {
	position: relative;
}
.control-panel-item:nth-child(2)::after,
.control-panel-item:nth-child(2)::before {
	background-color: #545454;
	content: "";
	height: 32px;
	position: absolute;
	top: 58%;
	transform: translateY(-50%);
	width: 2px;
}
.control-panel-item:nth-child(2)::before {
	left: 0;
}
.control-panel-item:nth-child(2)::after {
	right: 0;
}
.control-panel-item:nth-child(3)::after {
	background-color: #545454;
	content: "";
	height: 32px;
	position: absolute;
	right: 0;
	top: 58%;
	transform: translateY(-50%);
	width: 2px;
}
.control-panel > li > ul {
	transform: translatex(-40%) scaleY(1) !important;
	top: 62px;
}
.dropdown-item:active {
	background-color: var(--sub-bg);
}
.dropdown-item:hover {
	background-color: #473e80;
	color: #fff;
}
.dropdown-item {
	color: #fff;
}
/* .control-panel {
	background-color: var(--sub-bg);
	border-radius: 20px;
	text-align: center;
	padding: 10px 10px 15px;
}
.control-panel-item {
	padding: 0 6%;
}
.control-panel-icon {
	font-size: 20px;
	color: #fff;
}
.control-panel-text {
	font-size: 7px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	padding-top: 5px;
}
.control-panel .control-panel-item {
	float: left;
}
.control-panel > ul > li {
	position: relative;
}
.control-panel > ul > li > ul {
	transform: translatex(-40%) scaleY(1) !important;
	top: 62px;
}

.control-panel-item:nth-child(2)::after,
.control-panel-item:nth-child(2)::before {
	background-color: #545454;
	content: "";
	height: 32px;
	position: absolute;
	top: 58%;
	transform: translateY(-50%);
	width: 2px;
}
.control-panel-item:nth-child(2)::before {
	left: 0;
}
.control-panel-item:nth-child(2)::after {
	right: 0;
}
.control-panel-item:nth-child(3)::after {
	background-color: #545454;
	content: "";
	height: 32px;
	position: absolute;
	right: 0;
	top: 58%;
	transform: translateY(-50%);
	width: 2px;
} */
/* control css end */

/* catagory css start */
.zoom img {
	border: 4px solid #9c9efe;
	border-radius: 15px;
	margin-bottom: 15px;
	transition: transform 0.5s;
}
.zoom:hover img {
	-ms-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.1);
}
.zoom p {
	text-transform: uppercase;
}
.catagory-item p {
	color: #fff;
	font-weight: 300;
	font-size: 18px;
	padding-bottom: 50px;
}
/* catagory css end */

/* footer css start */
#footer {
	background-color: var(--main-bg);
}
.payment {
	border-radius: 8px;
	color: #fff;
}
.payment img {
	height: 35px;
}

.footer-title {
	border-bottom: 1px solid #b0b0b080;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	padding: 5px 0 14px;
	margin-bottom: 20px;
}
.footer-item li {
	padding-bottom: 25px;
	font-size: 14px;
	font-weight: 300;
}
.footer-item li a {
	color: #fff;
}
.footer-social li a {
	font-size: 32px;
	color: #fff;
}
.footer-social li {
	padding-bottom: 10px;
}
.copyright footer {
	font-weight: 200;
	font-size: 14px;
	color: #9293b5;
}
/* footer css end */

/* banner css start */
.banner_img,
.about_img {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

/* banner css end */

/* card css start */

.card {
	width: "275px";
	background-color: var(--main-bg);
	border-color: #b4aee8;
	color: #ffe3fe;
	text-align: center;
	transition: all 0.3s ease-in-out;
}
.card:hover {
	border-color: #b4aee8;
	box-shadow: 0 0 20px #b4aee8;
	transform: scale(1.08);
	transition: all 0.3s ease-in-out;
}
.card-title {
	font-family: "Orbitron", sans-serif;
	font-size: 18px;
	font-weight: 700;
}
.card-text {
	font-size: 14px;
	font-weight: 300;
	color: #b4aee8;
	padding: 5px 0;
}
.price span {
	font-size: 31px;
	font-weight: 500;
	color: #ffe3fe;
}
.price {
	color: #ffe3fe !important;
	padding-top: 10px;
}
.btn {
	background-color: rgb(72 61 169);
	border: none;
	padding-bottom: 10px;
}
.btn:hover {
	background-color: #a600b9;
}
/* card css end */

/* compair css start */
.css-10jyip1-MuiLinearProgress-root {
	height: 25px !important;
}
.progress {
	background-color: #d8d8d8;
	border-radius: 10px;
	position: relative;
	/* margin: 15px 0; */
	height: 30px;
	/* width: 300px; */
}

.progress-done {
	background: linear-gradient(to left, #f2709c, #ff9472);
	box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
	/* background: #1b57c4; */
	border-radius: 10px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
.pink {
	background: #b739f2 !important;
}
.VS_title {
	padding-top: 200px;
}
/* compair css end */

/* slider css start */
/* slider css end */
/* support css start */
.message {
	font-size: 50px;
	color: #a66cff;
}
/* support css end */

/* minecraft css start */
#minecraft {
	background-color: var(--sub-bg);
}
.minecraft-card {
	background-color: var(--sub-bg);
	margin-top: 90px;
}
.minecraft-container {
	clip-path: polygon(
		0 0,
		100% 0,
		100% 0,
		100% 94%,
		60% 100%,
		40% 100%,
		0 94%,
		0 0
	);
}
.minecraft-banner {
	position: relative;
	/* background: url(../../../public/images/minecraft/banner.png) no-repeat center; */
	background-position: center center;
	height: 500px;
	background-size: cover;
}

.bg-overlay {
	background-color: rgba(29, 0, 47, 0.77);
	position: absolute;
	top: 65px;
	right: 0;
	left: 0;
	bottom: -45px;
	width: 100%;
	/* height: 160%; */
}
.minecraft-text {
	padding-top: 140px;
}

.content {
	color: black;
	height: 150px;
}

.plan-text {
	font-weight: 200;
}

.textleft {
	text-align: start;
}

.services.serv-primary {
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.services:hover.serv-primary {
	background-color: #5368f1 !important;
	border-radius: 10px !important;
	color: #ffffff !important;
}
.services:hover {
	-webkit-box-shadow: 0 10px 25px rgba(53, 64, 78, 0.15);
	box-shadow: 0 10px 25px rgba(53, 64, 78, 0.15);
}
.services .big-icon.icon-right {
	top: 10%;
	right: -20px;
	left: auto;
}
.services .big-icon {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	opacity: 0.05;
	font-size: 120px;
}
.para {
	font-weight: 400 !important;
}
.services:hover.serv-primary .content,
.services:hover.serv-primary .icon2 {
	z-index: 2;
}
.services:hover.serv-primary .icon2,
.services:hover.serv-primary .para {
	color: rgba(255, 255, 255, 0.5) !important;
}
.announce {
	font-size: 20px;
	color: red;
}
/* minecraft css end */

/* client css start */
.accordion-item {
	border: 1px solid !important;
}
.accordion-button:focus {
	box-shadow: none;
}
.accordion-button:not(.collapsed) {
	background-color: #f4e4ff;
}
.accordion-item hr {
	margin: 0;
}
/* .client-services {
} */
#client {
	background-color: #7a059b;
}
.client-services > li {
	float: left;
	position: relative;
	padding: 15px 20px;
	width: 25%;
	background-color: #f4e4ff;
}
.client-services li:nth-child(2)::after,
.client-services li:nth-child(2)::before {
	background-color: #545454;
	content: "";
	height: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 2px;
}
.client-services li:nth-child(2)::before {
	left: 0;
}
.client-services li:nth-child(2)::after {
	right: 0;
}
.client-services li:nth-child(3)::after {
	background-color: #545454;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 2px;
}
.client-services hr {
	margin: 0;
	border: 1px solid;
}
.client-services .bg-img {
	position: absolute;
	top: -5px;
	/* transform: translateY(-50%); */
	right: 10px;
	opacity: 0.05;
	font-size: 50px;
}
.client-services h2 {
	padding-top: 20px;
}
.remove-design {
	width: 100%;
	background-color: #f4e4ff;
	border-color: #b4aee8;
	color: black;
	text-align: center;
	transition: none;
	border-top: 3px solid orange;
}
.remove-design:hover {
	border-color: #b4aee8;
	box-shadow: none;
	transform: none;
	transition: none;
	border-top: 3px solid orange;
}
.movetext span {
	padding-right: 40%;
}
.client-text {
	font-weight: 300;
	font-size: 14px;
	/* text-align: justify; */
	/* color: #b4aee8; */
	color: #000;
}
.client-btn {
	font-size: 16px;
	font-weight: 400;
	padding: 2px 5px;
}
/* .card-header {
	background-color: rgb(255 255 255 / 47%);
} */
/* client css end */

/* signup css start */
.error {
	color: red;
}
/* signup css end */

/* Responsive design start */
/* @media (min-width: 992px) and (max-width: 1199px) { */
.footer-links .collapse:not(.show) {
	display: block;
}
@media (max-width: 1199px) {
	.control-panel-item {
		padding: 0 4.5%;
	}
	.zoom img {
		height: 100px;
	}
	.big-title {
		font-size: 25px;
	}
}
@media (max-width: 991px) {
	.section-title {
		font-size: 23px;
	}
	#catagory,
	#banner,
	#about,
	#slider,
	#pricing,
	#compair,
	#support,
	#feature {
		padding: 70px 0;
	}
	.payment img {
		height: 90%;
	}
	.footer-links {
		margin-top: 20px;
		text-align: center;
	}
	.big-title {
		font-size: 35px;
	}
}
@media (max-width: 767px) {
	.zoom img {
		height: 120px;
	}
	.small-title {
		padding-top: 20px;
	}

	.footer-dropdown > li {
		position: relative;
	}
	.footer-dropdown > li > ul {
		position: absolute;
		visibility: hidden;
		background-color: var(--sub-bg);
		width: max-content;
		color: #a66cff;
		border-radius: 15px;
		opacity: 0;
		/* transition: 0.8s; */
		/* -webkit-transition: 0.8s; */
		/* transform: translatex(-20%) scaleY(1) !important; */
		z-index: 1;
	}
	.footer-dropdown li:hover ul {
		/* display: inline-block; */
		visibility: visible;
		opacity: 1;
	}

	.footer-links .collapse:not(.show) {
		display: none;
	}
}
@media (max-width: 575px) {
	.zoom img {
		height: 50%;
		max-width: 100%;
	}
	.carousel-item img {
		height: 50%;
	}
}
/* Responsiveness design end */
